$gray: #eee
$margin: 16px
$form_el_width: 99%

body 
	font-family: Arial,Liberation Sans,DejaVu Sans,sans-serif
	font-size: 80%

.wrapper960
	width : 960px
	margin : 0 auto

a:visited 
	color: #4a6b82

a 
	color: #0077cc
	text-decoration: none
	cursor: pointer


/* Header styles. */
#custom-header 
	background : $gray
	height : 31px
	border : none	
	box-shadow: none

#header	
	height : 80px
	#hlogo
		height : 61px
		width : 250px
		float : left
		margin-top : 10px
		float : left
		a
			@extend #hlogo
			background : image-url('sprites.png') no-repeat 0 0
			margin-top: 4px
		h1
			text-indent : -9999px
			line-height : 0	
			margin : 0
	#hmenus
		float : left
		width: 685px
		float: left
		padding: 34px 0px 20px 5px
		margin-top: 10px
		.nav
			li
				background: #777777
				display: block
				float: left
				margin-right: 7px
				&:hover
					background: #ff9900	
				a
					color: #fff
					display: block
					padding: 6px 12px 6px 12px
					text-decoration: none
			.youarehere 
				background: #ff9900


/* Content section. */
.content-section 
	margin: 0
	.subheader 
		border-bottom: 1px solid #cccccc
		height: 34px
		clear: both
		margin-bottom: 15px
		h1
			float: left
			font-size: 18px
			line-height: 34px
			margin-bottom: 0px
			margin : 0
		#tabs
			float: right
			font-weight: normal
			a
				background: inherit
				border: 1px solid #fff
				color: #777
				display: block
				float: left
				font-size: 90%
				height: 24px
				line-height: 22px
				margin: 8px 8px 0 0
				padding: 0 11px 0 11px
				text-decoration: none
				&:hover					
					border: 1px solid #ccc
					border-bottom-color: #ffffff
					background : white
					margin-top 3px
					height : 25px
			a.youarehere
				@extend a
				border: 1px solid #ccc
				border-bottom-color: #ffffff
				height: 30px
				color: black
				font-size: 120%
				line-height: 28px
				background : white
				margin-top : 3px


form 
	background : $gray
	padding : 25px 

input[type="text"]
	width : $form_el_width

textarea
	@extend input[type="text"]
	height : 150px
	resize : vertical

