%h2 
	All posts:
%table{ :class => "table table-striped table-bordered table-hover" }
	%tr
		%th
			author ID
		%th
			post ID
		%th
			Title
		%th
			Body
		%th		
	= render @posts

= link_to 'Create new Question', new_post_path, :class => 'btn'	
